/* --- Root Variables (Colors) --- */
:root {
    --f: #c784f6d8;
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --orange: #e87a31;
    --peach: #fab387;
    --peachedit: #ecd093;
    --peachedit2: #e9bb77;
    --yellow: #e9d250dc;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface1: #282936;
    --base: #1e1e2e;
    --mantle: rgba(24, 24, 37, 0.5);
    --crust: rgba(17, 17, 27, 0.5);
    --background: #00000030;

    /* --- Mica Inspired Color Variables --- */
    --background-colo0r: rgba(30, 34, 40, 0.6);
    --background-color: rgba(170, 172, 175, 0.316);
    --foreground-color: rgb(237, 238, 240);
    --accent-color: #0078d4;
    --border-color: rgb(53, 59, 69);
    --icon-color0: rgb(206, 210, 217);
    --icon-color: rgb(169, 174, 184);
    --icon-hover: rgba(169, 174, 184, 0.8);
    --hover-color: rgba(93, 114, 135, 0.12);
    --active-color: rgb(93, 114, 135);
    --inactive-color: rgba(93, 114, 135, 0.5);
}

/* --- Base Styles --- */
* {
    font-size: 12px;
    color: var(--foreground-color);
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Yasb Bar Itself --- */
.yasb-bar {
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

/* --- Individual Widgets --- */
.widget {
    padding: 0 12px;
    margin: 0;
}

.container-right .widget .icon:hover {
    color: var(--foreground-color);
}

/* --- Icons --- */
.icon {
    font-size: 16px;
    color: var(--icon-color);
}

/* --- Widget Labels --- */
.widget .label {
    padding: 0px 2px;
}

/* --- Apps Widget Specific --- */
.apps-widget {
    padding: 0 4px 0 10px;

}

.apps-widget .widget-container .label {
    font-size: 17px;
    color: var(--icon-color);
}
.apps-widget .widget-container .label:hover {
    color: var(--foreground-color);
}

/* --- Komorebi Active Layout --- */
.komorebi-active-layout {
    padding: 0 -4px 0 8px;
}

.komorebi-active-layout .label {
    font-size: 20px;
    font-weight: 600;
    padding: 2px 4px 2px 4px;
    /*color: var(--icon-color);*/
    color: var(--foreground-color);
}
.komorebi-active-layout .label:hover {
    color: var(--foreground-color);
}

.komorebi-active-layout .widget-container {
    background-color: var(--background-color);
    border-radius: 11px;
    margin: 1px 4px 1px 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid var(--border-color);
}


/* --- Workspace and Layout Containers --- */
.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.glazewm-workspaces .widget-container,
.glazewm-tiling-direction .widget-container {
    background-color: var(--background-color);
    border-radius: 11px;
    margin: 2px 0;
    padding: 4px 5px 4px 5px;
    border: 1px solid var(--border-color);
}

/* --- Komorebi & GlazeWM Workspaces --- */
.komorebi-workspaces,
.glazewm-workspaces {
    padding: 0;
}

.komorebi-workspaces .offline-status,
.glazewm-workspaces .offline-status {
    color: var(--foreground-color);
    font-size: 12px;
    padding: 0 4px;
    font-weight: 600;
}

.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: var(--active-color);
    border-radius: 5px;
    margin: 0 2px;
    font-size: 1px;
}

.komorebi-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn:hover {
    color: var(--accent-color);
    background-color: var(--hover-color);
}

.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
    width: 10px;
    height: 10px;
    background-color: var(--active-color);
    border-radius: 5px;
    margin: 0 2px;
    font-size: 1px;
}

.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
    color: transparent;
    background-color: var(--icon-color);
    width: 36px;
    height: 10px;
    border-radius: 5px;
}

/* --- Glazewm Tiling Direction --- */
.glazewm-tiling-direction {
    background-color: transparent;
    padding: 0;
    margin: 4px 0;
}

.glazewm-tiling-direction .btn {
    font-size: 14px;
    width: 14px;
    padding: 0 4px 0 12px;
    color: var(--foreground-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.glazewm-tiling-direction .btn:hover {
    background-color: var(--hover-color);
}

/* --- Apps Widget Label --- */
/* Locate this section in your styles.css */
.apps-widget .label {
    font-size: 180px; /* Increase this value as needed */
    padding: 0 2px;
    color: var(--foreground-color);
}

/* --- Uptime Widget --- */
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--foreground-color);
    font-weight: 600;
}

/* --- Power Menu Widget --- */
.power-menu-widget .label {
    font-size: 13px;
}

/* --- Power Menu Popup --- */
.power-menu-popup {
    background-color: rgba(20, 13, 14, 0.9);
    border-radius: 6px;
    padding: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border-left: 4px solid rgba(0, 0, 0, 0.05);
    border-right: 4px solid rgba(0, 0, 0, 0.05);
    border-top: 8px solid rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.power-menu-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--foreground-color);
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--foreground-color);
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

/* --- Volume Widget --- */
.volume-widget .icon {
    color: var(--icon-color);
    margin: 1px 2px 0 0;
}
.volume-widget .icon.muted {
    color: var(--red);
}
/* --- Battery Widget --- */
.battery-widget .icon {
    font-size: 16px;
    margin-right: 6px;
    color: var(--foreground-color);
	margin-right: 1px;

}
/* BATTERY WIDGET */
/* --- Battery Percentage Colors --- */

/* Critical (Default: 0% - 10%) */
.battery-widget .icon.status-critical {
    color: var(--red);
}

/* Low (Default: 11% - 25%) */
.battery-widget .icon.status-low {
    color: var(--peach);
}

/* Medium (Default: 26% - 75%) */
.battery-widget .icon.status-medium {
    color: var(--yellow);
}

/* High & Full (Default: 76% - 100%) */
.battery-widget .icon.status-high, 
.battery-widget .icon.status-full
 {
    color: var(--green);
}

/* Optional: Add a blinking effect if you have charging blink enabled */
.battery-widget .icon.blink {
    animation: blink 1s linear infinite;
}
@keyframes blink {
    50% { opacity: 0.3; }
}
/* --- Brightness Widget --- */
.brightness-widget {
    margin-right: -10px;
}

.brightness-widget .icon {
    color: var(--foreground-color);
}

/* --- Common Widget Padding --- */
.weather-widget,
.battery-widget,
.wifi-widget,
.volume-widget,
.brightness-widget {
    padding: 0 6px;
}

/* --- Weather Widget --- */
.weather-widget .icon {
    font-size: 18px;
    margin: 0 2px 1px 0;
    color: #ffffff;
}

/* --- Wallpapers Widget --- */
.wallpapers-widget .icon {
    color: var(--foreground-color);
    font-size: 14px;
    margin: 0;
}

/* --- Taskbar Widget --- */
.taskbar-widget {
    padding: 0;
    margin: 0;
    border: none;
}

.taskbar-widget .app-container {
    padding: 0 6px;
    border: none;
    margin: 0;
}

.taskbar-widget .app-container:hover {
    background-color: var(--hover-color);
    border-radius: 3px;
}
.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}
/* --- Whkd Widget --- */
.whkd-widget {
    padding: 0 6px 0 6px;
}

.whkd-widget .icon {
    font-size: 14px;
    color: var(--foreground-color);
}

/* --- Wallpapers Gallery Window --- */
.wallpapers-widget .icon{
    color: var(--icon-color);
    font-size: 18px;    
}
.wallpapers-gallery-window {
    background-color: rgba(20, 13, 14, 0.9);
    border: 0;
    margin: 0;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.wallpapers-gallery-buttons {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin: 0 8px 8px 8px;
    width: 600px;
}

.wallpapers-gallery-buttons:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
}

.wallpapers-gallery-image:hover {
    border: 4px solid var(--accent-color);
}

.wallpapers-gallery-image.focused {
    border: 4px solid var(--accent-color);
}

/* --- Systray --- */

.systray {
    background: transparent;
    border: none;
    margin: 0;
    display: flex;
    align-items: ce;

}
.systray .unpinned-container {
    border-radius: 8px;
    padding: 2px;
    background: transparent;
}
.systray .pinned-container {
    background: transparent;
}
.systray .button {
    margin: 0 2px;
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 2px;
}

.systray .button:hover {
    background: rgba(255, 255, 255, 0.2);
}
/* Icon being dragged, we already apply some transparency to it so you don't need to use it */

.systray .button.drag-over {
     background: rgba(255, 255, 255, 0.4);
}

.systray .pinned-container.drop-target {
    background: rgba(255, 255, 255, 0.1);
}
.systray .unpinned-visibility-btn {
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-size: 16px;
    height: 20px;
    width: 16px;
    border: none;
    outline: none;
}

.systray .unpinned-visibility-btn:checked {
    background: transparent;
}

.systray .unpinned-visibility-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Popup styles (when show_in_popup is true) */
 
/* The icon the drag is hovering over (drop target icon) */
.systray-popup .button.drag-over {
    background-color: rgba(255, 255, 255, 0.2);
}
/* Icon being dragged, we already apply some transparency to it so you don't need to use it */

.systray .pinned-container.pinned-container.drop-target {
    background-color: rgba(255, 255, 255, 0.1);
}
.systray-popup {
    border-color: #1e1e2e;
    padding: 4px;
}
.systray-popup .button {
    padding: 10px;
    margin: 0;
    border: 0;
    border-radius: 6px;
}
.systray-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
/*----------------------------------------------------------------------------*/


/* --- Common Styles --- */
.wifi-widget,
.brightness-widget,
.systray {
    margin-top: 2.4px;
}

/*--- Clock ---*/
.clock-widget {
    padding: 0 6px 0 0;
    margin-left: 15;
}
.clock-widget .label {
    color: var(--icon-color);
}

.clock-widget .label:hover{
    color: var(--foreground-color);
}


